
.container {

    .card-body {

        width: 333px;
        background: $white-color;

        &:hover{
            border-radius: 4.5px;
        }



        h5 {
            color: $blue-color;
            font-weight: 500;
            font-size: 21px;
            line-height: 31px;
            margin-bottom: 10px;
        }

        h6 {
            color: #000000;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;

        }
    }
        .list-group{
                border: none;
                list-style: none;

                li {
                    font-style: normal;
                    color: $light-blue-color;
                    border: none;
                    font-size: 14px;
                    margin-left: 18px;
                    line-height: 21px;

                    i{
                        margin-right: 18px;
                    }
                }
        }
     button{
         i{
             margin-right: 15.33px;
             color:#777777;
         }
     }
    }

