
 #footer{
     height: 314px;
     footer.bg-light{
         background-color: rgba(30, 57, 143, 0.1)!important;
     }
     .footer-top h6 a{

     }

      .footer-middle a, h6{
         font-weight: 500;
         font-size: 14px;
         color: #3a3a3a!important;
     }
     .row.footer-bottom h6 a{
         font-weight: 300;
         font-size: 16px;
         color: #979797;
     }


}
